@model HotGuys.Models.HotChoiceViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>

<div>
    <h4>Menu Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Merchant
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @if (Model.Comments.Count > 0)
            {
                @Model.Comments.Average(c => c.Rating)
            }
            else
            {
                <p>0</p>
            }
        </dd>
        <dt>
            Image
        </dt>

        <dd>
            <img src="@Url.Content(Model.Image)" height="250" , width="250" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Store")
</p>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var comment in Model.Comments.ToList())
        {
            <dt>User</dt>
            <dd>
                @comment.User.UserName
            </dd>
            <dt>
                Rating
            </dt>

            <dd>
                @comment.Rating
            </dd>

            <dt>
                Comment
            </dt>

            <dd>
                @comment.Comment
            </dd>

            <hr />

        }
    </dl>
    <p>
        @Html.ActionLink("Add Comment", "AddComment", new { id = Model.Id })
    </p>
</div>

